h1 {
    text-align: center;
}

li { 
    font-weight:bold;
}

.box {
    padding: 50px;
    margin-left: 100px;
    background: red;
    margin: 20px;
    font-weight: bold;
}

.rgb {
    background: rgb(155, 100, 255);
    text-align: center;
    font-size: 30px;
}

.rgba {
    background: rgb(245, 187, 151);
    text-align: center;
    font-size: 30px;
}

.hxa {
    text-align: center;
    font-size: 30px;
    background: #02f9;
}

.hsl {
    text-align: center;
    font-size: 30px;
    background: hsl(0, 100%, 20%);
}

